DataSetConverter/test-images
DataSetConverter/train-images
DataSetConverter/emnist-letters-test-images-idx3-ubyte
DataSetConverter/emnist-letters-test-labels-idx1-ubyte
DataSetConverter/emnist-letters-train-images-idx3-ubyte
DataSetConverter/emnist-letters-train-labels-idx1-ubyte
